// => color
$color-indigo: #6610f2;
$color-dark: #444;
$color-dark-light: #666;
$color-light-red: #e97272;

// => spacing

$space-xs: 0.12rem;
$space-sm: 0.33rem;
$space-md: 0.5rem;
$space-lg: 0.75rem;
$space-xlg: 1rem;
$space-xxlg: 2rem;

// => breakpoints

$device-small: 420px;
$device-medium: 910px;
