@use './modules/variables';

$border-color: #e2e2e2;
$light: #888;

.card {
  position: relative;
  display: flex;
  border: 0.095rem solid $border-color;
  border-radius: 0.33rem;
  width: 100%;
  padding: variables.$space-xlg;
  background-color: #fff;

  &.card--isSkill {
    padding: variables.$space-md;
    align-items: center;

    @media screen and (min-width: variables.$device-small) {
      padding: variables.$space-lg;
    }
  }
}

.card__header {
  display: flex;
  align-items: center;
}

.card__body {
  overflow: hidden;
  height: 0;
  transition: height 0.15s;

  .card--isExpanded & {
    height: 150px;
  }
}

.card__avatarSlot {
  margin-right: variables.$space-lg;
  padding-top: variables.$space-lg;
}

.card__avatarImage {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;

  .card--isSkill & {
    display: inline-block;
    border-radius: 0.33rem;
    margin-right: variables.$space-lg;
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }
}

.card__skillIcon {
  margin-right: 0.35rem;
  font-size: 1.25rem;
}

.card__contentSlot {
  flex: 1;
  padding: 0 variables.$space-lg;
}

.card__title {
  font-size: 1.1rem;
  color: #444;
  margin-top: 0;
  margin-bottom: variables.$space-sm;

  .card--isSkill & {
    margin: 0;
    vertical-align: middle;
    font-size: 1rem;
  }
}

.card__date {
  font-size: 0.85rem;
  color: #aaa;
  margin-top: 0;
}

// dataSlice-related
.dataSlice {
  display: flex;
  margin: 0 0 variables.$space-sm;
  font-size: 0.9rem;
}

.dataSlice__label {
  font-weight: bold;
}

.dataSlice__label::after {
  content: ':';
  margin-left: variables.$space-md;
}

.dataSlice__value {
  flex-grow: 1;
  margin-left: variables.$space-md;
  color: #666;
}
