@use './modules/variables';

$body-top-margin: calc(51px + #{variables.$space-lg});

.mainLayout__body {
  padding: $body-top-margin variables.$space-lg variables.$space-lg;
  background-color: #fff;

  @media screen and (min-width: variables.$device-medium) {
    margin: 0 auto;
    max-width: variables.$device-medium;
  }
}

.mainLayout__body--width-full {
  padding: 0;
}

.mainLayout__jumpToMainContent {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  padding: variables.$space-sm variables.$space-md;
  background-color: variables.$color-light-red;
  color: #fff;

  &:focus {
    z-index: 120;
  }
}
