@use './modules/variables';

.page__title {
  display: none;
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;

  @media screen and (min-width: variables.$device-medium) {
    display: inline-block;
  }
}

.page__sectionHeader {
  margin-top: 0;
  font-size: 1.2rem;
}

.page__link { color: variables.$color-light-blue; }
