@use './modules/variables';

.skillCardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: variables.$space-md;

  @media screen and (min-width: variables.$device-small) {
    gap: variables.$space-lg;
  }
}
